.row > .col-md-7 {
 margin-top: -80px;
 width: 50%
}

.row > .col-md-5 {
  margin-top: 50px;
  overflow: hidden; /*clear fix hack: set to auto*/
}

img.img-rounded {
  margin-left: 30px;
}

/*.row > .col-md-push-5 {
  left: 50%;
  width: 40%;
}

.col-md-pull-7 {
  width: 35%;
  right: 30%;
}*/
